<app-header></app-header>
<div class="boxContact">
    <section class="d-flex justify-content-center left">
        <div class="card justify-content-center" style="width: 25rem">
            <h4 class="card-title">Send me a message</h4>
            <div class="card-body justify-content-center d-flex">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Insert password...">
                    </div>
                    <button type="button" class="btn btn-primary w-100 mt-3 mb-2">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <section class="container right d-flex align-items-center">
        <div>
            <h4 class="mb-4">Contact me via email</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error autem adipisci iusto voluptatibus repellat tempore quidem ullam reiciendis, a veritatis iste quis facilis quos tempora deleniti? Perferendis voluptatibus a illo!</p>
        </div>        
    </section>
</div>
