<nav class="navbar navbar-dark bg-primary">
    <a href="#" class="navbar-brand mr-4">TaskApp</a>
    <div class="links">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/index">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
        </ul>  
    </div> 
    <div class="sign">
        <a routerLink="/login" class="btn btn-outline-light" role="button" aria-pressed="true" *ngIf="!token">Sign in</a>
        <a routerLink="/join" class="btn link-up" role="button" aria-pressed="true" *ngIf="!token">Sign up</a>
        <div class="dropdown" *ngIf="token">
            <button class="btn username dropdown-toggle" type="button" (click)="toggleMenu(dropdown)" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ name }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" #dropdown>
              <a class="dropdown-item">Action</a>
              <a class="dropdown-item">Another action</a>
              <a class="dropdown-item" (click)="signout()">Sign Out</a>
            </div>
          </div>
    </div>
</nav>