<app-header></app-header>
<div class="container align-items-start d-flex justify-content-center boxTask">
    <form>
        <h4 class="text-center">Add Task</h4>
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Insert title...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Description</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Insert description...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select a type</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Normal</option>
                <option>Important</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary w-100 mt-3 mb-2">Submit</button>
    </form>
    <div class="taskList">
        <!-- NORMAL TASKS -->
        <div class="card bg-light mb-4">
            <div class="card-header bg-primary ">
                Normal Tasks
                <a (click)="toggleTasks(normalTasks)"><i class="fas fa-angle-double-down"></i></a>
            </div>
            <div #normalTasks>
                <div class="card-body" *ngFor="let task of tasks" >
                    <h5 class="card-title">{{ task.title }}</h5>
                    <p class="card-text">{{ task.description }}</p>
                </div>
            </div>
        </div>
        <!-- IMPORTANT TASKS -->
        <div class="card bg-light mb-4">
            <div class="card-header bg-danger">
                Important Tasks
                <a (click)="toggleTasks(importantTasks)"><i class="fas fa-angle-double-down"></i></a>
            </div>
            <div #importantTasks>
                <div class="card-body" *ngFor="let impTask of impTasks">
                    <h5 class="card-title">{{ impTask.title }}</h5>
                    <p class="card-text">{{ impTask.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>	