.boxForm{
	padding: 3rem 2rem;
	width: 40%;
	flex-direction: column;
	user-select: none;

    form{
        width: 100%;
        background-color: #fff;

        .invalid-form{
            color: rgba(255, 0, 0, 0.877);
            font-size: .9rem;
        }
    }

    .user-img{
        width: 30%;
        margin: auto;
        padding: 2rem 0;
        text-align: center;

        i{
            font-size: 7rem;
        }
    }

    h2{
        text-align: center;
    }
}        